body {
  background:#111;
  color:#fff;
  font-family:Arial, sans-serif;
}

.card {
  background:#1c1c1c;
  padding:15px;
  margin:12px;
  border-radius:10px;
}

.price {
  color:#d4af37;
  font-weight:bold;
}
